{% extends 'base.html' %}

{% block content %}
			<div id="card-195596">
				<div class="card">
					<div class="card-header">
						 <p>
                             {{ professor.user.username }} - {{ exam.hash }}
                         </p>
					</div>
					<div id="card-element-562936" class="collapse show">
						<div class="card-body">
							<ul>
                                <li>{{ exam.q1 }} </li>
                                <li>{{ exam.q2 }} </li>
                                <li>{{ exam.q3 }} </li>
                                <li>{{ exam.q4 }} </li>
                                <li>{{ exam.q5 }} </li>
                                <li>{{ exam.q6 }} </li>
                                <li>{{ exam.q7 }} </li>
                                <li>{{ exam.q8 }} </li>
                                <li>{{ exam.q9 }} </li>
                                <li>{{ exam.q10 }} </li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
{% endblock content %}
