{% extends 'base.html' %}

{% block content %}
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Name
						</th>
						<th>
							Exam Hash
						</th>
						<th>
							Students Graduated
						</th>
					</tr>
				</thead>
				<tbody>
                    {% for p in professors %}
					<tr class="table-active">
						<td>
							{{ forloop.counter }}
						</td>
						<td>
							{{ p.user.username }}
						</td>
						<td>
                            <a href="{% url 'exams' p.exam.id %}">{{ p.exam.hash }}</a>
						</td>
						<td>
							{{ p.exam.students_graduated }}
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
{% endblock content %}
